from PIL import Image
class conversion():
    def __init__(self, image_path):
        self.image = image
    def get_dimensions(self):
img = Image.open('your_image.jpg')

width, height = img.size
print(f"Width: {width}, Height: {height}")

